@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import 'tailwindcss';
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Alumni Sans Pinstripe', Arial, Helvetica, sans-serif;
}
